<div class="container">
  <h1>{{ title() }}</h1>

  @if (errorMessage()) {
    <p class="error-message">{{ errorMessage() }}</p>
  } @else if (users().length > 0) {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p class="loading-message">Cargando datos...</p>
  }
</div>
